<h1>Youtube search</h1>
<input class="w3-input w3-animate-input" style="width:30%" id="query" placeholder="Search video">
<button class="w3-button w3-black" onclick="search()">Search</button>
<div id="response"></div>